.filemanager {
    resize: true;
    --spacing: 20px;
    --grid-size: 200px;
    --icon-size: 80px;
    --size: 80px;
    --dragover: #EFE;
    border: 1px solid black;
    position: relative;
    min-height: calc(var(--grid-size) - var(--spacing));
    .hidden {
        display: none;
    }
}
.filemanager-status {
    position: absolute;
    box-sizing: border-box;
    left: 0;
    width: 100%;
    bottom: 0;
    display: flex;
    min-height: 1em;
    padding: 2px 1em;
    background: #eee;
    > span {
        flex: 1;
    }
    > progress {
        min-width: 100px;
    }
    > progress:not([value]) {
        display: none;
    }
}
.filemanager-trash {
    position: absolute;
    right: 1em;
    bottom: 1.6em;
    width: var(--icon-size);
    height: var(--icon-size);
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("resources/trash.svg");
    cursor: pointer;
    z-index: 1;
}

.filemanager-view {
    position: relative;
    overflow-y: scroll;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    box-sizing: border-box;
    gap: var(--spacing);
    padding: 2em;

    &.dragover {
        background: var(--dragover);
    }

    > * {
        width: var(--grid-size);
        > .icon {
            display: block;
            margin: 0 auto;
            width: var(--icon-size);
            height: var(--icon-size);
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("resources/file.svg");
        }
        > .name {
            display: block;
            max-width: 100%;
            overflow-wrap: anywhere;
            text-align: center;
        }
        &[data-type="dir"] > .icon {
            background-image:url("resources/folder.svg");
        }
    }
}
